@tailwind base;

* {
  font-family:'Inter', sans-serif
}

.bg-front-gradient {
  background:linear-gradient(50deg,#fff 78.99%,#d1b5ff 271.14%)
}

*::-webkit-scrollbar {
  width:8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #2C2C2EB0;
  border-radius:9999px;
}

.dark *::-webkit-scrollbar-thumb {
  background: #F8F7F7B0;
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-gray-300 focus:border-indigo-500 focus:ring-indigo-500;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-indigo-600 
    focus:ring-indigo-500;
  }
  ul {
    @apply list-disc pl-6
  }
  ol {
    @apply list-decimal pl-6
  }
  a {
    @apply underline
  }
}


input[type=text], input[type=email], input[type=password] {
  border: none;
  background:rgba(228, 227, 227, 0.67);
  padding: 0.5rem 12px;
  height: 45px;
  border-radius:13px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: none;
  border-color: transparent;
}

.button-primary, .button-wait {
  background-color: rgb(44, 44, 46) !important;
  border-radius:13px;
  color: white;
}

.button-wait {
  background-color:rgba(44, 44, 46, 0.67) !important
}

.main-sidebar {
  position:fixed;
  display:flex;
  flex-direction: column;
  border-right:1px solid #F4F4F4;
  height: 100vh;
  background-color: white;
  z-index:9;
  left:-100%;
  min-width:256px;
}

.dark .sidebar-menu-sec svg {
  fill:none;
}

.sidebar-menu-sec {
  padding:12px;
  border-bottom:1px solid #F4F4F4;
  display:flex;
  gap:4px;
  width:100%;
  flex-direction:column;
}

.sidebar-menu-title {
  color:#8A8A8A !important;
  font-size:14px !important;
  font-weight:400 !important;
  padding:0 14px;
}

.sidebar-menu-sec button {
  font-size:13px;
  background-color:transparent;
  transition:background-color 150ms;
}

.sidebar-menu-sec button:hover {
  background-color:#FAFAFC;
  transition:background-color 150ms;
}

.sidebar-top-logo {
  display:flex;
  align-items:center;
  padding:12px 14px 16px;
  border-bottom:1px solid #F4F4F4;
  position:relative;
}

.sidebar-top-logo .three-dots {
  position: absolute;
  right:14px;
  color:#656F7D
}

.sidebar-logo {
  min-width:37px;
  min-height:37px;
  position:relative;
  width:fit-content;
}

.sidebar-logo-title {
  font-size:18px !important;
  line-height: 1.75rem !important;
  font-weight:600;
  background: linear-gradient(90deg, #6F23E7 0%, #1169E2 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-logo-shadow {
  width:33px;
  height:33px;
  position:absolute;
  top:8px;
  background:linear-gradient(248.71deg, rgba(251, 152, 106, 0.16) 9.18%, rgba(251, 152, 106, 0.16) 32.04%, rgba(244, 99, 173, 0.16) 50.41%, rgba(34, 85, 207, 0.16) 90.82%);
  left:2px;
  border-radius:5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
  transition:top 150ms;
  z-index:-1;
}

.sidebar-top-logo:hover .sidebar-logo-shadow {
  top:12px;
  transition:top 150ms;
}

.sidebar-site {
  color:#5A5A5A;
  font-weight:500;
  letter-spacing:-0.33px;
  font-size:11px;
  overflow:hidden;
  mask-image:linear-gradient(to right, white 65%, transparent 85%);
  margin-top:-2px;
}

.sidebar-overlay {
  z-index:8;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background-color:#00000080
}

.pro-button {
  background:linear-gradient(139.97deg, rgb(0, 117, 224) -0.75%, rgb(158, 0, 233) 127.99%);
  padding:6px;
  display:flex;
  color:white;
  align-items:center;
  font-size:13px;
  line-height:15px;
  font-weight:600;
  height:26px;
  column-gap:5px;
  border-radius:12px;
  margin-right:16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  cursor:pointer;
}

.main-sidebar.active {
  left:0
}

.main-dashboard {
  padding:32px 20px;
  margin-top:53px;
  width:100%;
}

.modal-overlay {
  background-color:rgb(0 0 0 / 0.5);
}

.topbar {
  position:absolute;
  padding:4px 19px;
  height:53px;
  border-bottom:1px solid #F4F4F4;
  top:0;
  right:0;
  background-color: white;
  z-index:7;
  width:100%;
  align-items: center;
  display:flex;
  justify-content: flex-end;
}

.topbar-menu {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%
}

.topbar-moremenu {
  top:40px !important;
}

.button-normal {
  background-color:white;
  padding:8px 16px;
  border-radius:8px;
  display:flex;
  gap:8px;
  align-items: center;
}

.button-normal:hover {
  background-color:#F4F4F4
}

.dark .button-normal:hover {
  background-color:#2C2C2E;
}

.list-title {
  display:flex;
  align-items:center;
  gap:16px;
  font-size:17px !important;
  font-weight:400 !important;
}

.list-desc {
  color:#929292
}

.inactive {
  font-weight:300;
  font-size:12px;
  color:white;
  padding-left:12px;
  padding-right:12px;
  display:flex;
  border-radius:9999px;
  height:20px;
  background-color: rgb(185 28 28);
  align-items:center;
}

.avatar {
  min-width:32px;
  height:32px;
  width:32px;
  background-color:lightgray !important;
  border-radius:9999px !important;
}

.avatar-group .avatar {
  margin-right:-8px;
}

.open-sidebar-btn {
  padding:0;
  background-color:white;
}

.close-sidebar-btn {
  padding:0;
  background-color:white;
  margin-bottom:16px;
  display:flex;
  align-items:center;
  gap:8px
}

.dark .sidebar-menu-sec,
.dark .sidebar-top-logo {
  border-color:#2C2C2E;
}

.dark .topbar,
.dark .main-sidebar {
  background-color:#1A1A1C;
  color:white;
  border-color:#2C2C2E;
}

.dark .bg-front-gradient {
  background:#1A1A1C;
}

.dark .list-title,
.dark .sidebar-site {
  color: white;
}

.is-sidebar-button[title='HTML']{
  display: none !important
}

.additional-menu-btn {
  padding:0 !important;
  background:transparent !important;
  margin-right:16px !important;
}

.login-form {
  margin-left:auto;
  margin-right:auto;
  max-width:400px;
  height:50vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

@media (min-width: 768px){
  .main-sidebar {
    position:static;
  }

  .topbar-menu {
    justify-content:flex-end;
  }

  .topbar {
    width:calc(100% - 256px);
  }

  .sidebar-overlay,
  .open-sidebar-btn,
  .close-sidebar-btn {
    display:none;
  }
}