@tailwind base;

* {
  font-family:'Inter', sans-serif
}

.bg-front-gradient {
  background:linear-gradient(50deg,#fff 78.99%,#d1b5ff 271.14%)
}

*::-webkit-scrollbar {
  width:8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #2C2C2EB0;
  border-radius:9999px;
}

.dark *::-webkit-scrollbar-thumb {
  background: #F8F7F7B0;
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-gray-300 focus:border-indigo-500 focus:ring-indigo-500;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-indigo-600 
    focus:ring-indigo-500;
  }
  ul {
    @apply list-disc pl-6
  }
  ol {
    @apply list-decimal pl-6
  }
  a {
    @apply underline
  }
}


input[type=text], input[type=email], input[type=password] {
  border: none;
  background:rgba(228, 227, 227, 0.67);
  padding: 0.5rem 12px;
  height: 45px;
  border-radius:13px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: none;
  border-color: transparent;
}

.button-primary, .button-wait {
  background: rgb(44, 44, 46);
  border-radius:13px;
}

.button-wait {
  background:rgba(44, 44, 46, 0.67)
}