@tailwind base;

* {
  font-family:'Inter', sans-serif
}

.bg-front-gradient {
  background:linear-gradient(50deg,#fff 78.99%,#d1b5ff 271.14%)
}

*::-webkit-scrollbar {
  width:8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #2C2C2EB0;
  border-radius:9999px;
}

.dark *::-webkit-scrollbar-thumb {
  background: #F8F7F7B0;
}

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-gray-300 focus:border-indigo-500 focus:ring-indigo-500;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-indigo-600 
    focus:ring-indigo-500;
  }
  ul {
    @apply list-disc pl-6
  }
  ol {
    @apply list-decimal pl-6
  }
  a {
    @apply underline
  }
}


input[type=text], input[type=email], input[type=password] {
  border: none;
  background:rgba(228, 227, 227, 0.67);
  padding: 0.5rem 12px;
  height: 45px;
  border-radius:13px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  box-shadow: none;
  border-color: transparent;
}

.button-primary, .button-wait {
  background-color: rgb(44, 44, 46) !important;
  border-radius:13px;
  color: white;
}

.button-wait {
  background-color:rgba(44, 44, 46, 0.67) !important
}

.main-sidebar {
  position:fixed;
  display:flex;
  flex-direction: column;
  border-right:1px solid #F4F4F4;
  height: 100vh;
  background-color: white;
  z-index:9;
  left:-100%;
  min-width:256px;
  padding:12px;
}

.sidebar-overlay {
  z-index:8;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background-color:#00000080
}

.main-sidebar.active {
  left:0
}

.main-dashboard {
  padding:32px 20px;
  margin-top:53px;
  width:100%;
}

.modal-overlay {
  background-color:rgb(0 0 0 / 0.5);
}

.topbar {
  position:absolute;
  padding:16px;
  border-bottom:1px solid #F4F4F4;
  top:0;
  right:0;
  background-color: white;
  z-index:7;
  width:100%;
}

.topbar-menu {
  display:flex;
  justify-content: space-between;
}

.button-normal {
  background-color:white;
  padding:8px 16px;
  border-radius:8px;
  display:flex;
  gap:8px;
  align-items: center;
}

.button-normal:hover {
  background-color:#F4F4F4
}

.list-title {
  display:flex;
  align-items:center;
  gap:16px;
}

.list-desc {
  color:#929292
}

.open-sidebar-btn {
  padding:0;
  background-color:white;
}

.close-sidebar-btn {
  padding:0;
  background-color:white;
  margin-bottom:16px;
  display:flex;
  align-items:center;
  gap:8px
}
@media (min-width: 768px){
  .main-sidebar {
    position:static;
  }

  .topbar-menu {
    justify-content:flex-end;
  }

  .topbar {
    width:calc(100% - 256px);
  }

  .sidebar-overlay,
  .open-sidebar-btn,
  .close-sidebar-btn {
    display:none;
  }
}